body, html {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
}
#container {
    width: 100%; 
    height: auto;
    align-items: center;
    z-index: 9;
    position: absolute;
}
#my_dataviz {
    width: 100%;
}
#tooltip {
    position: absolute;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    pointer-events: none;
}
.hidden {
    display: none;
}
.country-border {
    fill: none;
    stroke: #fff; 
    stroke-width: 2px; 
}
.legend {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 70%; 
    height: auto; 
}
.legend-gradient {
    width: 100%;
    height: 20px;
    border-radius: 20%;
    background-image: linear-gradient(to right, #053061, #2166ac, #4393c3, #92c5de, #d1e5f0, #ffffbf, #fddbc7, #f4a582, #d6604d, #b2182b, #67001f);
}
.left {
    width: 40%;
    height: 100%;
    background-color: #053061; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 
}
.right {
    position: relative;
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
}
#lineChartContainer, #barChartContainer {
    padding: 10px;
    margin: 5px;
}
.line {
    fill: none; 
    stroke: white; 
    stroke-width: 2px; 
}
.slider-container {
    background-color: rgba(5, 48, 97, 0.5);
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    bottom: 2%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#yearSlider {
    width: 70%;
}
.slider-label {
    margin-bottom: 5px;
}